<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bicycle Attire</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <h1>You're leaving for work in one hour...</h1>

    <form action="/" method="GET">
      <label>Location</label>
      <input name="location" type="text" value="<%= params[:location] %>">
      <input type="submit" value="Submit">
    </form>

    <% if @location %>
      <p>
        You are at <%= @location.address %> 
        (<%= @location.latitude %>, <%= @location.longitude %>).
      </p>
      <p>
        When you bike in, 
        it will be <%= @forecast_start.summary %>
        and <%= @forecast_start.temperature %> degrees.
        Wear a <%= attire(@forecast_start) %>.
        <img src="https://raw.githubusercontent.com/westarete/psu-hackathon-2014-app/master/public/images/<%= attire(@forecast_start) %>.png"
             width="20px">
      </p>
      <p>
        At lunch time, 
        it will be <%= @forecast_lunch.summary %>
        and <%= @forecast_lunch.temperature %> degrees.
        Wear a <%= attire(@forecast_lunch) %>.
        <img src="https://raw.githubusercontent.com/westarete/psu-hackathon-2014-app/master/public/images/<%= attire(@forecast_lunch) %>.png"
             width="20px">
      </p>
      <p>
        When you bike home, 
        it will be <%= @forecast_end.summary %>
        and <%= @forecast_end.temperature %> degrees.
        Wear a <%= attire(@forecast_end) %>.
        <img src="https://raw.githubusercontent.com/westarete/psu-hackathon-2014-app/master/public/images/<%= attire(@forecast_end) %>.png"
             width="20px">
      </p>
    <% else %>
      <p>I could not find your location<p>
    <% end %>    

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>