<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bicycle Attire</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>

<div class="jumbotron">
  <div class="container">
    <h1>You're leaving for work in one hour...</h1>

    <p>
      ...and you're not sure what to wear on your bike commute. Enter your location
      below and we'll help you get dressed.
    </p>

    <div class="row">

      <div class="col-md-6 col-md-offset-2" style="text-align: center">
        <form class="form-inline" role="form" action="/" method="GET">
          <input style="margin-bottom: 20px" class="form-control" name="location" type="text" size="50" placeholder="Enter your location" value="<%= @location.address %>">
          <button style="margin-bottom: 20px" type="submit" class="btn btn-primary">Tell me what to wear</button>
        </form>
      </div>
    </div>

  </div>
</div>

<div class="container">
  <% if @location %>

    <div class="row">

      <div class="col-md-3 well" style="text-align: center">
        <h2>Heading In</h2>
        <img src="<%= attire_image_url(@forecast_start) %>" width="140px">
        <br>
        <%= @forecast_start.summary %>
        <br>
        <%= @forecast_start.temperature.round %>&deg;
      </div>

      <div class="col-md-3 col-md-offset-1 well" style="text-align: center">
        <h2>Lunch Time</h2>
        <img src="<%= attire_image_url(@forecast_lunch) %>" width="140px">
        <br>
        <%= @forecast_lunch.summary %>
        <br>
        <%= @forecast_lunch.temperature.round %>&deg;
      </div>

      <div class="col-md-3 col-md-offset-1 well" style="text-align: center">
        <h2>Heading Home</h2>
        <img src="<%= attire_image_url(@forecast_end) %>" width="140px">
        <br>
        <%= @forecast_end.summary %>
        <br>
        <%= @forecast_end.temperature.round %>&deg;
      </div>

    </div>

  <% end %>

  <hr>

  <footer style="text-align: right">
    <p>&copy; 2014 <a href="http://westarete.com">West Arete</a></p>
  </footer>
</div>

</body>
</html>